ul,li{
	font-size: 14px;
	line-height: 40px;
}
.box {
	position: relative;
	/*display: inline-block;*/
	background-color: white;
	height: 40px;
	border-bottom: lightgrey 1px solid;
	z-index: 15;
	
}
.box1{
	float: left;
	margin-right: 15px;
	margin-left: 10px;
}
.box2 {
	display: none;
	position: absolute;
	background-color: white;
	/*min-width: 1000px;*/
	padding: 50px 0px;
	top: 40px;
	left: 0px;
}
.box1:hover .box2 {
	display: block;
}
ul:hover{
	color: darkslategrey;
}
.box0{
	color: #AB4AC2;
	float: left;
	margin-right: 15px;
	margin-left: 10px;
}
#first{
	font-weight: bold;
	color: gray;
	font-size: 14px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#box3{
	float: left;
	margin-right: 40px;
	margin-left: 20px;
}

#box4{
	float: left;
	margin-right: 40px;
	margin-left: 200px;
}
#box5{
	float: left;
	margin: 0px 5px;
}
#box5 li{
	margin: 10px 0;
}
#box6 img{
	width: 40%;
	margin: 10px auto;
	margin-left: 200px;
}
